<!--
<h1>5C INF - 2020/2021</h1>
<h3>Introduzione ad Angular e TypeScript</h3>
<p>Primo esempio di "databinding", io sono: {{myName}}</p>
<button (click)="changeName()">CAMBIAMI NOME</button>
<hr>
-->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <!--<h3>Utilizzo dei componenti:</h3>
            <app-servers></app-servers>-->
            <h3>Practicing Databinding</h3>
            <app-practicing-databinding></app-practicing-databinding>
        </div>
    </div>
</div>
